.vheader.item3 {
    width: 80%;
    bottom: 0;
    left: 0;
    position: absolute;
    border-top: 1px solid #f7f7f7;
}
input.vnick.vinput,
input.vmail.vinput,
input.vlink.vinput {
    width: 33.33% !important;
}
svg.markdown {
    display: none;
}
.v .vsubmit.vbtn {
    position: absolute;
    bottom: 0px;
    padding: 0;
    border-radius: 0;
    line-height: 43px;
    height: 43px;
    right: 0px;
    width: 20%;
}
.v[data-class=v] .vwrap .vheader .vinput {
    border-bottom: none !important;
    padding-left: 10px;
}
textarea#veditor::-webkit-input-placeholder {
    /* WebKit browsers 适配谷歌 */
    color: #BDCADA;
    text-align: center;
    line-height: 4;
}
textarea#veditor:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 适配火狐 */
    color: #BDCADA;
    text-align: center;
    line-height: 4;
}
textarea#veditor::-moz-placeholder {
    /* Mozilla Firefox 19+ 适配火狐 */
    color: #BDCADA;
    text-align: center;
    line-height: 4;
}
textarea#veditor:-ms-input-placeholder {
    /* Internet Explorer 10+  适配ie*/
    color: #BDCADA;
    text-align: center;
    line-height: 4;
}