#nav {
    background-color: transparent !important;
}








@keyframes link_custom {
	from {
	box-shadow:0 0 5px var(--primary-color,grey),inset 0 0 5px var(--primary-color,grey),0 1px 0 var(--primary-color,grey)
}
to {
	box-shadow:0 0 20px var(--primary-color,grey),inset 0 0 10px var(--primary-color,grey),0 1px 0 var(--primary-color,grey)
}
}@keyframes link_custom1 {
	0% {
	box-shadow:0 0 4px #ca00ff
}
25% {
	box-shadow:0 0 16px #00b5e5
}
50% {
	box-shadow:0 0 4px #00f
}
75% {
	box-shadow:0 0 16px #b1da21
}
100% {
	box-shadow:0 0 4px red
}
}@keyframes borderFlash {
	from {
	border-color:transparent
}
to {
	border-color:var(--primary-color,grey)
}
}@keyframes auto_rotate_left {
	from {
	transform:rotate(0)
}
to {
	transform:rotate(-360deg)
}
}@keyframes auto_rotate_right {
	from {
	transform:rotate(0)
}
to {
	transform:rotate(360deg)
}
}.flink#article-container .flink-list>.flink-list-item a:hover {
	color:#fff
}
.flink .flink-list>.flink-list-item a {
	color:var(--primary-color,#49b1f5);
	text-decoration:none
}
.flink .flink-list>.flink-list-item:hover {
	box-shadow:0 2px 20px var(--primary-color,#49b1f5);
	animation-play-state:paused
}
.flink#article-container .flink-list>.flink-list-item:before {
	background:var(--primary-color,#49b1f5)
}
.flink .flink-list>.flink-list-item {
	border:0 solid var(--primary-color,#49b1f5)
}
.flink#article-container .flink-list>.flink-list-item:hover img {
	-webkit-transform:rotate(var(--primary-rotate));
	-moz-transform:rotate(var(--primary-rotate));
	-o-transform:rotate(var(--primary-rotate));
	-ms-transform:rotate(var(--primary-rotate));
	transform:rotate(var(--primary-rotate))
}
.flink#article-container .flink-list>.flink-list-item a .lauto {
	animation:auto_rotate_left var(--autotime) linear infinite
}
.flink#article-container .flink-list>.flink-list-item a .rauto {
	animation:auto_rotate_right var(--autotime) linear infinite
}
.flink#article-container .flink-list>.flink-list-item .customcolor {
	color:var(--namecolor,#1f2d3d)
}
.flink#article-container .flink-list>.flink-list-item .customcolor:hover {
	color:#fff
}









 ::-webkit-scrollbar-track {
    background-color: rgba(255, 255, 255, .5);
    border-radius: 2em;
}

 ::-webkit-scrollbar-thumb {
    background-color: #ffab91;
    background-image: -webkit-linear-gradient( 45deg, rgba(255, 255, 255, 0.4) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.4) 50%, rgba(255, 255, 255, 0.4) 75%, transparent 75%, transparent);
    border-radius: 2em;
}

 ::-webkit-scrollbar-corner {
    background-color: transparent;
}

 ::-moz-selection {
    color: #fff;
    background-color: #49b1f5;
}



@-webkit-keyframes Gradient {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}

@-moz-keyframes Gradient {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}

@keyframes Gradient {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}

#footer {
    background: transparent !important;
    background-size: 400% 400%;
    -webkit-animation: Gradient 10s ease infinite;
    -moz-animation: Gradient 10s ease infinite;
    animation: Gradient 10s ease infinite;
    -o-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#footer:before {
    background-color: rgba(0, 0, 0, 0);
}

body {
    cursor: url(https://cdn.jsdelivr.net/gh/inkss/common@master/cursor/left_ptr.png),
        default;
}
a,button {
    cursor: url(https://cdn.jsdelivr.net/gh/inkss/common@master/cursor/pointer.png),
        default !important;
}
img {
    cursor: url(https://cdn.jsdelivr.net/gh/inkss/common@master/cursor/zoom-in.png),
        default !important;
}
p {
    cursor: url(https://cdn.jsdelivr.net/gh/inkss/common@master/cursor/text.png),
        default !important;
}

span.post-meta-date,span.page-number.current {
    cursor: url(https://cdn.jsdelivr.net/gh/inkss/common@master/cursor/left_ptr.png),
        default !important;
}

.social-icon .fab.fa-qq {
    color: #10a4ff;
}

.social-icon .fab.fa-weixin {
    color: #09bb07;
}

.social-icon .fab.fa-alipay {
    color: #02a9f1;
}



code {
    color: #292e31 !important;
    border-radius: 3px;
    border: 1px solid #f0f2f3;
    background: transparent !important;
    font-size: 90%;
}


div#dplayer {
    height: 100%;
    width: 100%;
}

.video {
    box-shadow: 0 4px 8px 6px rgba(7, 17, 27, 0.06);
    border-radius: 8px;
    max-width: 1164px;
    margin: 0 auto;
    padding: 20px;
}

.video:hover {
    box-shadow: 0 4px 12px 12px rgba(7, 17, 27, 0.15);
}

.card {
    margin: auto;
    width: 100%;
    padding-top: 40px;
}

main#content-inner {
    padding-top: 15px !important;
}

@media screen and (min-width: 2000px) {
    .video {
        max-width: 1470px;
    }
}
